body {
  background-color: orange;
}

h1 {
  color: white;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.intro {
  background-color: blue;
  margin-left: 10px;
  padding-left:15px;
  border:2px solid black;
}

img {
  width: 300px;
  border: 2px solid black;
}

p, li{
  color: cyan;
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  background: black;
  color:white;
  height: 20px;
  padding-left: 5px;
  
}
